.navbar-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    padding: 0 55px 0 32px;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 10;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 167px;
}

.nav-link a{
    text-decoration: none;
    color: #2d2d2d;
    font-size: 18px;
}
.nav-link a:hover{
    text-decoration: none;
    color: #696868;
}